### Files to ignore
*/ignore*
local/*

# Ignore example data if I have that copied from the website for live days when aocd is not yet working for examples
*/*exampledata*
*/*_data*

# Symlink within my rust folder to the aocd cache containing .txt files with the inputs named "YYYY_DD_input.txt"
aoc_2018/aoc_rust_2018/input

### Python template
.idea
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock
