[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
advent-of-code-data = "*"
utils = "*"
z3-solver = "*"
pytest = "7.3.2"
tqdm = "*"
pytest-xdist = "*"
parfor = "*"
browser-cookie3 = "*"
rich = "*"
aocd-example-parser = "*"
intervalues = "*"

[requires]
python_version = "3.10"
